@import "tailwindcss";

html {
  scroll-padding-top: 80px;
  scroll-behavior: smooth;
}

body {
  background-color: white;
}

.title {
  @apply text-xl sm:text-2xl font-semibold uppercase;
}

.skeleton {
  @apply bg-gray-500 rounded-md animate-pulse;
}
/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
